<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Me llamo Francisco Mancuello Vázquez, <span class="text-sky-200"
        >Sofware Engineer</span
      > por elección, impulsado por una profunda vocación por la tecnología y la
      innovación. Vivo en <span class="text-sky-200">
        Ciudad del Este, Paraguay
      </span>, donde mi entusiasmo se fusiona con cada proyecto.
    </p>
    <p>
      Me apasionan las <span class="text-sky-200">comunidades de software</span>
      y siempre busco maneras de contribuir y crecer junto a ellas, desde traducir
      artículos para
      <span class="text-sky-200">FreeCodeCamp</span> y a mentorizar en <span
        class="text-sky-200">Trycatch_tv</span
      >, donde aporto a la formación de otros desarrolladores.
    </p>
    <p>
      Me encanta sumergirme en el mundo de los <span class="text-sky-200"
        >indie hackers</span
      >, explorar nuevas plataformas y con el apoyo de las redes para aprender
      sobre <span class="text-sky-200">nuevos casos de uso monetizables</span>.
      Estos descubrimientos los aplico en mis propios Side projects, donde <span
        class="text-sky-200"
        >pongo a prueba mi creatividad y habilidades técnicas</span
      >. Mi mayor satisfacción es ver cómo estos proyectos cobran vida y generan
      valor.
    </p>
    <p>
      Siempre estoy abierto a nuevas ideas, proyectos y conexiones. Si tienes
      una pregunta, quieres colaborar o simplemente charlar sobre tecnología,
      ¡estaré encantado de conectar contigo!
    </p>
  </div>
</article>
