<article class="text-pretty">
  <p>
    Sofware Engineer por elección, con un corazón que late por la tecnología y
    la innovación. Me apasionan las comunidades de software y siempre busco
    maneras de contribuir y crecer junto a ellas. Vivo en <span
      class="text-sky-200">Ciudad del Este - Paraguay</span
    >, donde combino mi amor por la programación.
  </p>
  <br />
  <p>
    Me encanta trabajar con personas interesantes, aprender, enseñar y, lo más
    importante, ser capaz de comunicarlo. Por eso, en mi tiempo libre, suelo
    contribuir a foros de programación, participar en meetups locales y explorar
    nuevas tecnologías.
  </p>
  <br />
  <p>
    <span class="text-yellow-200">
      (También disfruto compartir mis conocimientos y experiencias a través de
      blogs y presentaciones.)
    </span>
  </p>
  <br />
  <p>
    En mi tiempo libre, suelo dedicarme a fortalecer mis habilidades en
    programación, explorar nuevos frameworks, disfrutar de un buen libro de
    desarrollo personal o tecnología, y ocasionalmente comparto mis pensamientos
    y experiencias en <a href="https://twitter.com/MranDvX"> X (ex Twitter)</a>.
  </p>
  <br />
  <p>
    Si tienes alguna pregunta, comentario, o simplemente quieres saludar, no
    dudes en enviarme un correo electrónico. ¡Siempre es un placer conectar con
    otros entusiastas de la tecnología!
  </p>
</article>
