<article>
  <p class="text-lg mb-4 text-pretty">
    Soy un <span class="text-yellow-200"> desarrollador web fullstack</span> con
    más de 7 años experiencia en React.js, Next.js, Tailwind CSS y Node.js.
  </p>
  <p class="text-lg mb-4 text-pretty">
    Me encanta trabajar con equipos de desarrollo de software y diseñadores para
    crear productos digitales de alta calidad.
  </p>
</article>
