<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Sofware Engineer por elección, con un corazón que late por la tecnología y
      la innovación. Me apasionan las comunidades de software y siempre busco
      maneras de contribuir y crecer junto a ellas. Vivo en <span
        class="text-sky-200">Ciudad del Este - Paraguay</span
      >, donde combino mi amor por la programación.
    </p>

    <p>
      Me encanta trabajar con personas interesantes, aprender, enseñar y, lo más
      importante, ser capaz de comunicarlo. Por eso en mi tiempo libre, suelo
      dedicarme a fortalecer mis habilidades en programación, explorar nuevos
      frameworks, disfrutar de un buen libro de desarrollo personal o
      tecnología, y ocasionalmente comparto mis pensamientos y experiencias en
      <a href="https://twitter.com/MranDvX"> X (ex Twitter)</a>.
    </p>

    <p>
      Si tienes alguna pregunta, comentario, o simplemente quieres saludar, no
      dudes en enviarme un correo electrónico. ¡Siempre es un placer conectar
      con otros entusiastas de la tecnología!
    </p>
  </div>
</article>
