---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Full Stack Developer − Paggo",
    description:
      "Construccion de la app móvil y web de Paggo, una fintech de servicios financieros en Guatemala, Honduras. Desarrollo de la plataforma de pagos, integracion con bancos, y desarrollo de la plataforma de administracion de usuarios y comercios. Implementacion de pruebas unitarias, integradas, y end-to-end con Jest, Playwright, y Sonarqube.",
  },
  {
    date: "Junio 2022 - Febrero 2023",
    title: "Full Stack Enginneer  − Rappi",
    description:
      "Mejoré varios sistemas clave: aumenté la eficiencia en la detección y prevención de fraude en un 30% y la revisión de información en un 40% en el portal de Backoffice. Desarrollé el Merchant Portal de Rappi, mejorando la satisfacción del cliente en un 25% y reduciendo tiempos de espera en un 40%. Automatice pruebas de reclamos para una resolución eficiente en el 60% de los casos. Implementé prácticas de CI/CD y pruebas variadas (Sonarqube, Jest), y migré un monolito a una arquitectura de microfront, mejorando la carga en un 50% y la escalabilidad en un 30%.",
  },
  {
    date: "Febrero 2022 - Julio 2022",
    title: "Frontend Developer − Parque Tecnológico Itaipu",
    description:
      "Desarrollé 'BOLDO', una plataforma de telemedicina que redujo los costos de atención médica en un 90% durante COVID-19. Incluí módulos para citas, chat con videollamadas, generación de certificados médicos, y listados de laboratorios y farmacias. Aseguré la calidad y estabilidad del sistema mediante prácticas de CI/CD, revisiones de código, y pruebas de carga/estrés y unitarias/integradas/end-to-end con Jest.",
  },
  {
    date: "Agosto 2019 - Febrero 2022",
    title: "Principal Full Stack Developer − Agrotec S.A.",
    description:
      "Supervisé el desarrollo de módulos Oracle Netsuite, coordinando equipos y procesos, desde la identificación de requisitos hasta la implementación y monitoreo. Refactoricé un 35% del código ETL, mejorando la velocidad de procesamiento en un 65%. Mejoré la seguridad y rendimiento de aplicaciones en Grupo Agrihold y automatizé procesos para experimentos de marketing, aumentando la eficiencia y precisión en los informes de Power BI.",
  },
  {
    date: "Septiembre 2017 - Agosto 2019",
    title: "Full Stack Developer − Parque Tecnológico Itaipu",
    description:
      "Diseñé una Plataforma de Seguridad Ciudadana para la APF, reduciendo los actos vandálicos en eventos deportivos en un 50%. Desarrollé una Plataforma de Monitoreo en Tiempo Real para el 911, mejorando la eficiencia en emergencias y reduciendo denuncias falsas en un 90%. Además, creé un portal de ropa denim con telemetría para prevenir caídas.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
