---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Full Stack Developer − Paggo",
    description:
      "Lideré la renovación de UI/UX en aplicaciones móviles y web, aumentando registros de usuarios en un 40%. Coordiné e implementé gestión de incidencias en AWS, reduciendo errores críticos en un 90%.",
    // link: "#",
  },
  {
    date: "Junio 2022 - Febrero 2023",
    title: "Full Stack Enginneer  − Rappi",
    description:
      "Automatización en sistema de contracargos de Fraude BackOffice y desarrollo de funcionalidades para Merchant Portal en React. Participé en la refactorización hacia microfrontends, mejorando escalabilidad.",
  },
  {
    date: "Febrero 2022 - Julio 2022",
    title: "Frontend Developer − Parque Tecnológico Itaipu",
    description:
      "Desarrollé MVP para plataforma de salud digital en telemedicina. Creé componentes en React, implementé WebRTC para videollamadas y contribuí en la integración de hardware de salud remoto.",
  },
  {
    date: "Agosto 2019 - Febrero 2022",
    title: "Principal Full Stack Developer − Agrotec S.A.",
    description:
      "Lideré equipos de desarrollos e implementé lógica empresarial para ventas, lideré la refactorización de código de software ETL, y mejoré la seguridad y rendimiento de infraestructura de TI.",
  },
  {
    date: "Septiembre 2017 - Agosto 2019",
    title: "Full Stack Developer − Parque Tecnológico Itaipu",
    description:
      "Lideré el desarrollo de portal web y backend para proyecto de telemetría en ropa Denim y plataforma de seguridad 911, optimizando la gestión de datos en emergencias.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
